# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify

# Playwright
/test/e2e/results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test/e2e/.auth

# Sentry Config File
.env.sentry-build-plugin

# Cursor
.cursor

# VSCode
.vscode/mcp.json
