@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-2 px-6 rounded-lg outline-none border-4 text-foreground duration-200 ease-in-out font-bold transition-all;
    @apply focus-within:border-white active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .icon-btn {
    @apply text-sm text-muted-foreground rounded-lg outline-none font-medium relative size-7 flex items-center justify-center duration-300 transition-all;
    @apply hover:text-foreground active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .icon-btn > * {
    @apply relative z-[1] size-6;
  }

  .btn-text {
    @apply text-[0.75rem] leading-[1.25rem] underline text-center mt-1 cursor-pointer;
  }
}

@layer utilities {
  .fancy-shadow {
    background: conic-gradient(
      from 230.29deg at 51.63% 52.16%,
      rgba(217, 38, 170, 0.3) 0deg,
      rgba(115, 51, 224, 0.3) 67.5deg,
      rgba(108, 39, 157, 0.3) 198.75deg,
      rgba(24, 38, 163, 0.3) 251.25deg,
      rgba(115, 51, 224, 0.3) 301.88deg,
      rgba(105, 30, 255, 0.3) 360deg
    );
    @apply w-full h-full absolute blur-[200px] -top-10 left-0 translate-x-0;
  }

  .rotates {
    animation: rotate 20s infinite;
  }

  .tracker-shadow-pulse {
    animation: pulsate-shadow 2s ease-in-out infinite;
  }

  .tracker-shadow {
    box-shadow: 0 0 20px #4f19aa;
  }

  .tracker-shadow-inset {
    box-shadow: inset 0 -10px 40px #4f19aa;
  }

  .visibility-pulse {
    animation: pulsate-opacity 2s ease-in-out infinite;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 262 76% 54%;
    --primary-foreground: 262 76% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --tertiary: 320 80% 50%;
    --tertiary-foreground: 262 76% 98%;

    --success: 142 76% 52%;
    --success-foreground: 142 76% 98%;

    --info: 199 89% 60%;
    --info-foreground: 199 89% 98%;

    --warning: 41 86% 56%;
    --warning-foreground: 41 86% 98%;

    --help: 174 70% 41%;
    --help-foreground: 174 70% 98%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark-mode {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 262 76% 54%;
    --primary-foreground: 262 76% 98%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 217.2 32.6% 17.5%;

    --success: 142 76% 52%;
    --success-foreground: 142 76% 98%;

    --tertiary: 320 80% 50%;
    --tertiary-foreground: 262 76% 98%;

    --info: 199 89% 60%;
    --info-foreground: 199 89% 98%;

    --warning: 41 86% 56%;
    --warning-foreground: 41 86% 98%;

    --help: 174 70% 41%;
    --help-foreground: 174 70% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 85% 71%;
    --destructive-foreground: 0 85% 98%;

    --ring: 240 4.9% 83.9%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  @font-face {
    font-family: "Geist";
    src: url("@/assets/fonts/Geist.woff") format("woff");
  }

  * {
    @apply border-border;
  }

  html {
    @apply font-geist text-base scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  .head-1 {
    @apply font-black text-4xl;
  }

  h2,
  .head-2 {
    @apply font-bold text-3xl;
  }

  h3,
  .head-3 {
    @apply font-bold text-2xl;
  }

  h4,
  .head-4 {
    @apply font-bold text-xl;
  }

  h5,
  .head-5 {
    @apply font-bold text-lg;
  }

  h6,
  .head-6 {
    @apply font-bold text-base;
  }

  .btn-foreground {
    @apply btn !text-background bg-foreground/50 hover:bg-foreground/60 border-foreground;
  }

  .btn-background {
    @apply btn bg-background/50 hover:bg-background/60 border-background;
  }

  .btn-primary {
    @apply btn bg-primary/50 hover:bg-primary/60 border-primary;
  }

  .btn-secondary {
    @apply btn bg-secondary/50 hover:bg-secondary/60 border-secondary;
  }

  .btn-tertiary {
    @apply btn bg-tertiary/50 hover:bg-tertiary/60 border-tertiary;
  }

  .btn-success {
    @apply btn bg-success/50 hover:bg-success/60 border-success;
  }

  .btn-info {
    @apply btn bg-info/50 hover:bg-info/60 border-info;
  }

  .btn-warning {
    @apply btn bg-warning/50 hover:bg-warning/60 border-warning;
  }

  .btn-help {
    @apply btn bg-help/50 hover:bg-help/60 border-help;
  }

  .btn-destructive {
    @apply btn bg-destructive/50 hover:bg-destructive/60 border-destructive;
  }

  .btn-ghost {
    @apply btn hover:bg-background/60 border-transparent;
  }

  .icon-btn-foreground {
    @apply icon-btn hover:bg-foreground/50;
  }

  .icon-btn-background {
    @apply icon-btn hover:bg-background/50;
  }

  .icon-btn-primary {
    @apply icon-btn hover:bg-primary/50;
  }

  .icon-btn-secondary {
    @apply icon-btn hover:bg-secondary/50;
  }

  .icon-btn-tertiary {
    @apply icon-btn hover:bg-tertiary/50;
  }

  .icon-btn-success {
    @apply icon-btn hover:bg-success/50;
  }

  .icon-btn-info {
    @apply icon-btn hover:bg-info/50;
  }

  .icon-btn-warning {
    @apply icon-btn hover:bg-warning/50;
  }

  .icon-btn-help {
    @apply icon-btn hover:bg-help/50;
  }

  .icon-btn-destructive {
    @apply icon-btn hover:bg-destructive/50;
  }

  .icon-btn-ghost {
    @apply icon-btn hover:bg-accent;
  }

  kbd {
    @apply border border-slate-300 rounded size-6 flex items-center justify-center border-b-2;
  }

  select,
  option {
    @apply text-white bg-foreground;
  }

  .container-max {
    @apply max-w-[2000px] mx-auto;
  }

  .dnd-container {
    @apply max-w-[2000px] mx-auto w-full px-4 md:px-6 lg:px-10;
  }

  .md-richtext {
    ul {
      @apply list-disc list-outside ml-5 mb-5;
    }

    ol {
      @apply list-decimal ml-5 mb-5;
    }

    li {
      @apply mb-1 last:mb-0;
    }

    p {
      @apply mb-4 last:mb-0;
    }

    a,
    u {
      @apply text-primary;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply pb-1;
    }
  }

  .html-richtext {
    mark {
      @apply bg-gradient-to-tr from-primary to-tertiary rounded-md text-white box-decoration-clone px-1 py-[2px];
    }

    blockquote {
      @apply border-primary border-l-4 pl-2;
    }

    ul {
      @apply list-disc ml-5;
    }

    ol {
      @apply list-decimal ml-8;
    }

    hr {
      @apply border-secondary my-4;
    }

    a {
      @apply underline underline-offset-4 decoration-primary;
    }

    p {
      @apply pb-2 last:pb-0;
    }
  }

  .tr {
    @apply border-b border-secondary;
  }

  .td {
    @apply p-4 align-middle;
  }

  .th {
    @apply h-12 px-4 text-left align-middle font-medium;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes pulsate-shadow {
    0% {
      box-shadow: 0 0 38px #4f19aa;
    }
    50% {
      box-shadow: 0 0 70px #4f19aa;
    }
    100% {
      box-shadow: 0 0 38px #4f19aa;
    }
  }

  @keyframes pulsate-opacity {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
      scale: 1;
    }
    25% {
      scale: 1.25 1;
    }
    50% {
      scale: 1 1.5;
    }
    75% {
      scale: 1.25 1;
    }
    100% {
      transform: rotate(360deg);
      scale: 1;
    }
  }
}
